{% extends "base.html" %}

{% block announce %}
	<!-- This block is blank by default. Whatever content is added here gets displayed as an announcement at the top of each page in the site. -->
	You're looking at a public case study of a documentation system I built from scratch — no NDAs were harmed in the making of this site.<br>
{% endblock %}


{% block header %}
<!-- Custom Banner -->
<div class="banner" id="banner">
    <p style="color:var(--md-primary-bg-color); font-size:small; display:inline;">{{ config.copyright }}</p>
</div>

<!-- Original Header -->
{% include "partials/header.html" %}
{% endblock %}

